.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  max-width: 400px;
  width: 100%;
  padding: 24px;
}

mat-card-header {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

mat-form-field {
  width: 100%;
}

button {
  width: 100%;
  margin-top: 16px;
}