.assessment-container {
  border: 1px solid #ddd;
  padding: 5px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100%;
}

.loading,
.empty {
  text-align: center;
  margin-top: 20px;
}

.loading p {
  margin-bottom: 10px;
}


canvas {
  height: 100% !important;
  width: 100% !important;
  max-width: 800px;
  max-height: 400px;
}
